.todo {
  display: flex;
  padding: 44px;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #6F6F6F;
  box-sizing: border-box;
  border-radius: 5px;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0;
  flex-grow: 1;
}

.todo__text_type_checked {
  text-decoration: line-through;
  color: #aaa;
}

.todos__checkbox {
  margin-right: 10px;
}