.todo {
  display: flex;
  padding: 44px;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #6F6F6F;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo__text {
  position: relative;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0 0 0 42px;
  flex-grow: 1;
}

.todo__text_type_checked {
  text-decoration: line-through;
}

.todo__date {
  position: absolute;
  top: 5px;
  left: 85px;
  color: rgba(250, 250, 250, .5);
  font-size: 12px;
  font-style: italic;
}
