.todos__label {
  position: relative;
  font-size: 18px;
}

.todos__label_left {
  margin-right: 60px;
  font-size: 18px;
}


.todos__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  z-index: -1;
}

.todos__styledCheckbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  border-radius: 5px;
  border: 2px solid rgba(250, 250, 250, 0.5);
  background-color: #000;
  color: transparent;
  transition: 0.2s ease;
}

.todos__styledCheckbox_left {
  left: 0;
}

.todos__styledCheckbox_right {
  margin-left: 8px;
}

.todos__styledCheckbox_todo::after {
  content: "\2713";
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 30px;
  height: 30px;
  font-size: 36px;
}

.todos__styledCheckbox_filter::after {
  content: "\25A0";
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.todos__checkbox:checked + .todos__styledCheckbox {
  color: #aaa;
}

.todos__checkbox:focus + .todos__styledCheckbox {
  background-color: #333;
}

.todos__checkbox:disabled + .todos__styledCheckbox {
  background-color: #000;
}

.todos__checkbox:checked:disabled + .todos__styledCheckbox {
  background-color: #000;
  color: #444;
}
